.headerMain{
    margin: 0px;
    padding: 0px;
    background-color: #01161E;
    display: flex;
    box-shadow: 0px 4px 3px 0px #c5c5c5;
    margin-bottom: 15px;
}

.headerMain .headerTitle{
    font-weight: bold;
    font-size: 25px;
    color: #FFFBFC;
    text-align: left;
    padding: 10px;
    flex-grow: 8;
}